.benefits__point {
    
    @media screen and (min-width: 1200px) {
        width: 270px;
        + .benefits__point {
            margin-left: 30px;
        }
    }
}


.benefits__list {
    display: flex;
    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.benefits__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    width: 270px;

    background-color: #f5f4fa;
}

.benefits__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.benefits__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--sub-text-color);
}