.clients__head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    @media screen and (max-width: 1199px) {
        font-size: 28px;
        line-height: 1.17;
        margin-bottom: 30px;
    }
    
}

.clients__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
    }
}

.clients__point {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border-color var(--anim);
    &:hover, &:focus {
        border-color: var(--hover-color);
    }
    @media screen and (min-width: 480px) {
        width: 210px;
    }
    @media screen and (min-width: 768px) {
        width: 226px;
    }
    @media screen and (min-width: 1200px) {
        width: 170px;
    }
}




.clients__point:hover .clients__icons,
.clients__icons:focus {
    fill: var(--hover-color);
}

.clients__icons {
    fill: #afb1b8;
    transition: fill var(--anim);
    &:hover, &:focus {
        fill: var(--hover-color);
    }
}
