.clients__head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.clients__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
    }
}

.clients__point {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border-color var(--anim);
    &:hover, &:focus {
        border-color: var(--hover-color);
    }
}

.clients__point:hover .clients__icons,
.clients__icons:focus {
    fill: var(--hover-color);
}

.clients__icons {
    fill: #afb1b8;
    transition: fill var(--anim);
    &:hover, &:focus {
        fill: var(--hover-color);
    }
}
