
.contacts {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: auto;
        align-items: baseline;
        flex-direction: column;
    }
    @media screen and (min-width: 1200px) {
        margin-left: auto;
        display: inline-block;
    }
}

.contacts__head {
    text-decoration: none;
    color: var(--sub-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color var(--anim);
    &:hover, &:focus {
        color: var(--hover-color);
    }

    @media screen and (min-width: 768px) {
         + .contacts__head {
            margin-top: 10px;
        }
    }

    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
        +.contacts__head {
            margin-top: 0px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .contacts__head + .contacts__head {
        margin-left: 50px;
    }
}


.contacts__icons {
    margin-right: 10px;
    fill: currentColor;
}