.menu-burger {
    border: none;
    color: #212121;
    background-color: #FFFFFF;
    margin-bottom: auto;


    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-burger__open {
    display: block;

}

.menu-burger__open {
    color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;

    border: none;
    background-color: #ffffff;

    &:active {
        fill: var(--hover-color);
    }
}

.menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    padding: 48px 40px;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;

    transform: translateX(100%);
    transition: transform 400ms;
    &.is-open {
        transform: translateX(0%);
    }
}

.burger-navigation {

    @media screen and (max-width: 767px) {
        display: block;
    }
}

.burger-navigation__list {
    display: flex;
    flex-direction: column;

}


.burger-navigation__link {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
    display: inline-block;
    padding-bottom: 32px;
    transition: color var(--anim), background-color var(--anim);

    &:hover,
    &:focus {
        color: var(--hover-color);
    }
}

.burger-navigation__link.condition {
    color: var(--hover-color);
}

.burger__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
}   

.burger__contacts-mail {
    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    margin-bottom: 32px;

    letter-spacing: 0.02em;

    color: #2196F3;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color var(--anim);
    &:hover, &:focus {
        color: var(--hover-color);
    }
    @media screen and (max-width: 479px) {
        font-size: 24px;
    }
}

.burger__contacts-number {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: #757575;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color var(--anim);

    &:hover,
    &:focus {
        color: var(--hover-color);
    }
    @media screen and (max-width: 479px) {
        font-size: 20px;
    }
}

.burger__social {
    display: flex;
    margin-top: 63px;
    @media screen and (max-width: 479px) {
        flex-wrap: wrap;
        row-gap: 10px;
    }
}

.burger__social-point {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
    margin-right: 10px;
    padding-right: 10px;
    &:not(:last-of-type){
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    
    
}